
{% load static %}
<!-- jQuery -->
<script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- slick slider -->
<script src="{% static 'plugins/slick/slick.min.js' %}"></script>
<!-- aos -->
<script src="{% static 'plugins/aos/aos.js' %}"></script>
<!-- venobox popup -->
<script src="{% static 'plugins/venobox/venobox.min.js' %}"></script>
<!-- filter -->
<script src="{% static 'plugins/filterizr/jquery.filterizr.min.js' %}"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
<script src="{% static 'plugins/google-map/gmap.js' %}"></script>

<!-- Main Script -->
<script src="{% static 'js/script.js' %}"></script>

{% comment %} Lien pour le fichier de notes {% endcomment %}



{% comment %} lien carousel srcoll {% endcomment %}
{% comment %} <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="{% static 'carousel/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'carousel/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'carousel/lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'carousel/js/main.js' %}"></script> {% endcomment %}

    {% comment %} <script src="{% static 'carousel/lib/waypoints/waypoints.min.js' %}"></script> {% endcomment %}
    
    </body> 