{% load static %}

<style>
  body{margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a;
    }
    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }
    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .fa-2x {
        font-size: 2em;
    }
    
    .table-billing-history th, .table-billing-history td {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1.375rem;
        padding-right: 1.375rem;
    }
    .table > :not(caption) > * > *, .dataTable-table > :not(caption) > * > * {
        padding: 0.75rem 0.75rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }
    
    .border-start-primary {
        border-left-color: #0061f2 !important;
    }
    .border-start-secondary {
        border-left-color: #6900c7 !important;
    }
    .border-start-success {
        border-left-color: #00ac69 !important;
    }
    .border-start-lg {
        border-left-width: 0.25rem !important;
    }
    .h-100 {
        height: 100% !important;
    }
</style>
<header class="fixed-top header">
  <!-- top header -->
  <div class="top-header py-2 bg-white mb-0 py-0">
    <div class="container">
      {% if messages %}
        <ul>
          {% for message in messages %}
            {% if message.tags == 'error' %}
              <li class="alert alert-danger">{{ message }}</li>
            {% elif message.tags == 'success' %}
              <li class="alert alert-success">{{ message }}</li>
            {% elif message.tags == 'warning' %}
              <li class="alert alert-warning">{{ message }}</li>
            {% elif message.tags == 'info' %}
              <li class="alert alert-info">{{ message }}</li>
            {% else %}
              <li>{{ message }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
      <div class="row no-gutters">
        <div class="col-lg-4 text-center text-lg-left">
          <a class="text-primary mr-3" href="tel:+443003030266"><strong>contact</strong> +224 626 613 835</a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-primary" href="https://facebook.com/themefisher/"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-primary" href="https://twitter.com/themefisher"><i class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-primary" href="https://github.com/themefisher"><i class="ti-github"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-primary" href="https://instagram.com/themefisher/"><i class="ti-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="text-uppercase text-primary p-sm-2 py-2 px-0 d-inline-block" href="notice.html"><i class="ti-bell 2x"></i></a></li>
            {% if not user.is_authenticated %}
              <li class="list-inline-item"><a class="text-uppercase text-primary p-sm-2 py-2 px-0 d-inline-block" href="{% url 'login' %}">Connexion</a></li>
            {% endif %}
            <li class="list-inline-item"><a class="text-uppercase text-primary p-sm-2 py-2 px-0 d-inline-block" href="{% url 'verifier' %}">Inscription</a></li>
            {% if user.is_authenticated %}
              <li class="list-inline-item"><a class="text-uppercase text-primary p-sm-2 py-2 px-0 d-inline-block" href="{% url 'logout' %}">Déconnexion</a></li>
              {% if user.etudiant.photo_profile %}
                <li class="list-inline-item">
                  <img src="{{user.etudiant.photo_profile.url}}" style="width:40px;height:40px; border-radius:30px; margin:0px" data-toggle="modal" data-target="#profileModal">
                </li>
              {% else %}
                <li class="list-inline-item">
                  <img src="{% static 'images/teacher.jpg' %}" style="width:40px;height:40px; border-radius:30px; margin:0px" data-toggle="modal" data-target="#profileModal">
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!-- navbar -->
  <div class="navigation w-100">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark p-0">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/small_logo.png' %}" alt="logo" style="width:50px; height:50px"> Centre Informatique</a>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
              <a class="nav-link text-white" href="{% url 'index' %}">Accueil</a>
            </li>
            {% if user.is_authenticated and user.professeur %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'choix_matiere_noter' %}">Notes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'choix_matiere_presence' %}">Présence</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'matiere_a_archiver' %}">Archives</a>
              </li>
            {% endif %}
            {% if user.is_authenticated and user.etudiant %}
              <li class="nav-item">
                <a class="nav-link" href="about.html">Emplois</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'notes' %}">Mes Notes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'opportunite' %}">Opportunités</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'cours' %}">Cours</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Plus</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="teacher.html">Professeurs</a>
                {% if user.is_authenticated %}
                  <!-- Button trigger modal -->
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#reglementModal">Reglements I.</a>
                  <a class="dropdown-item" href="">Evenements</a>
                  {% if user.etudiant %}
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#evaluation_cour">Evaluer Un Cours</a>
                  {% endif %}
                  <a class="dropdown-item" href="">Emploi</a>
                {% endif %}
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="contact.html">CONTACT</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<!-- Profile Modal structure -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-xl px-4 mt-4">
          
          <hr class="mt-0 mb-4">
          <div class="row">
              <div class="col-xl-4">
                  <!-- Profile picture card-->
                  <div class="card mb-4 mb-xl-0">
                      <div class="card-header">Photo de Profile</div>
                      <div class="card-body text-center">

                        {% if user.etudiant.photo_profile %}
                          <!-- Profile picture image-->
                          <a href="{{user.etudiant.photo_profile.url}}" target="_blank"><img class="img-account-profile rounded-circle mb-2" src="{{user.etudiant.photo_profile.url}}" alt="" style="width:80px;height:80px"></a>
                          <!-- Profile picture help block-->
                          {% else %}
                          <img class="img-account-profile rounded-circle mb-2" src="{% static 'images/teacher.jpg' %}" alt="">
                          {% endif %}
                          <div class="small font-italic text-muted mb-4">Rassurez-vous que votre image ne soit pas trop lourde</div>
                          <!-- Profile picture upload button-->
                         
                      </div>
                  </div>
              </div>
              <div class="col-xl-8">
                  <!-- Account details card-->
                  <div class="card mb-4">
                      <div class="card-header">Informations Personnelles</div>
                      <div class="card-body">
                          <form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                              <label class="small mb-1" for="inputUsername" >Modifier Votre Photo de Profile</label>
                              <input type="file" name="photo" id="photo" class="form-control-file">
                            </div>  
                            <!-- Form Group (username)-->
                              <div class="mb-3">
                                  <label class="small mb-1" for="inputUsername" >MATRICULE</label>
                                  <input class="form-control" id="inputUsername" type="text"  value="{{user.username}}" readonly>
                              </div>
                              <!-- Form Row-->
                              <div class="row gx-3 mb-3">
                                  <!-- Form Group (first name)-->
                                  <div class="col-md-6">
                                      <label class="small mb-1" for="inputFirstName">PRENOMS</label>
                                      <input class="form-control" id="inputFirstName" type="text" value="{{user.first_name}}" readonly>
                                  </div>
                                  <!-- Form Group (last name)-->
                                  <div class="col-md-6">
                                      <label class="small mb-1" for="inputLastName">NOM</label>
                                      <input class="form-control" id="inputLastName" type="text"  value="{{user.last_name}}" readonly>
                                  </div>
                                  <div class="col-md-6">
                                    <label class="small mb-6" for="inputLastName">GENRE</label>
                                    <input class="form-control" id="inputLastName" type="text" {%if user.etudiant.genre %}value="Homme" {% else %}value="Femme" {% endif %} readonly>
                                </div>
                                <div class="col-md-6">
                                  <label class="small mb-1" for="inputBirthday">DATE DE NAISSANCE</label>
                                  <input class="form-control" id="inputBirthday" type="date" name="birthday"  value="{{user.etudiant.date_naissance}}" readonly>
                              </div>

                              </div>
                              <!-- Form Row        -->
                              <div class="row gx-3 mb-3">
                                  <!-- Form Group (organization name)-->
                                  <div class="col-md-6">
                                      <label class="small mb-1" for="inputOrgName">INE BAC</label>
                                      <input class="form-control" id="inputLocation" type="text"  value="{{user.etudiant.ine}}" readonly>
                                    </div>
                                    <!-- Form Group (location)-->
                                    <div class="col-md-6">
                                      <label class="small mb-1" for="inputLocation">PV BAC</label>
                                      <input class="form-control" id="inputOrgName" type="text"  value="{{user.etudiant.pv}}" readonly>
                                  </div>
                              </div>
                           
                              <div class="mb-3">
                                  <label class="small mb-1" for="inputEmailAddress">DEPARTEMENT</label>
                                  <input class="form-control" id="inputAddress" type="text"  value="{{user.etudiant.departement.libele}}" readonly>
                              </div>

                              <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">LICENCE</label>
                                <input class="form-control" id="inputAddress" type="text"  value="Licence {{user.etudiant.licence.numero}}" readonly>
                            </div>
                              <!-- Form Row-->
                              <div class="row gx-3 mb-3">
                                  <!-- Form Group (phone number)-->
                                 

                                  <div class="col-md-12">
                                      <label class="small mb-1" for="inputPhone">TELEPHONE</label>
                                      <input class="form-control" id="inputPhone" type="tel" value="{{user.etudiant.tel}}" name="tel" >
                                  </div>
                                  <!-- Form Group (birthday)-->
                                  <div class="col-md-12">
                                    <label class="small mb-1" for="inputLastName">EMAIL</label>
                                    <input class="form-control" name="email" id="inputLastName" type="email"  value="{{user.email}}" >
                                </div>
                                <div class="col-md-12">
                                  <label class="small mb-1" for="inputLastName">ADRESSE</label>
                                  <input class="form-control" id="inputLastName" name="adresse" type="text" value="{{user.etudiant.adresse}}" >
                              </div>
                              </div>
                              <!-- Save changes button-->
                              <button class="btn btn-primary" type="submit">Enregistrer</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Reglement Modal structure -->
<div class="modal fade" id="reglementModal" tabindex="-1" role="dialog" aria-labelledby="reglementModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reglementModalLabel">Reglement Intérieur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe src="{% static 'fichiers/Reglement.pdf' %}" width="100%" height="500px"></iframe>
      </div>
    </div>
  </div>
</div>

 <!-- Modal Evaluation du cours -->
<div class="modal fade" id="evaluation_cour" tabindex="-1" role="dialog" aria-labelledby="evaluation_cour" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="evaluation_cour">Evaluation du Cours</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <!-- ici le formulaire -->
              <form method="post" action="{% url 'eval_cours' %}">
                  {% csrf_token %}
                  {% for field in eval_cours_form %}
                  <div class="form-group">
                      <label class="col-form-label col-sm-3" for="{{ field.id_for_label }}">{{ field.label }}</label>
                      <div class="col-sm-9">
                          {{ field }}
                      </div>
                  </div>
                  {% endfor %}
                  <button type="submit" class="btn btn-primary">Envoyer</button>
              </form>
          </div>
      </div>
  </div>
</div>
