{% load static %}
<section class="bg-gray overflow-md-hidden">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-lg-5 align-self-end">
                <img class="img-fluid w-100" src="{% static 'images/banner/banner-feature.png'%}" alt="banner-feature">
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="row feature-blocks bg-gray justify-content-between">
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-desktop mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <h3 class="mb-xl-4 mb-lg-3 mb-4">Suivi et Accompagnement Post Licence</h3>
                        <p>Mettez en avant le prestige de la faculté dans le domaine de l'informatique, son histoire, ses réalisations et sa réputation dans le secteur.</p>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-user mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <h3 class="mb-xl-4 mb-lg-3 mb-4">Corps Professoral Qualifié</h3>
                        <p>Mettez en avant les professeurs expérimentés et respectés dans l'industrie, leurs qualifications, leurs réalisations et leur engagement envers l'enseignement et la recherche.</p>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-layers mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <h3 class="mb-xl-4 mb-lg-3 mb-4">Programmes Diversifiés</h3>
                        <p>Soulignez la variété des programmes offerts, tels que les diplômes de premier cycle, les programmes de maîtrise et les spécialisations disponibles.</p>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-settings mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <h3 class="mb-xl-4 mb-lg-3 mb-4">Infrastructures Modernes</h3>
                        <p>Décrivez les installations informatiques de pointe disponibles pour les étudiants, y compris les laboratoires équipés, les centres de données, les espaces d'innovation et les outils logiciels spécialisés.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
