{% load static %}
<footer >
   <!-- newsletter -->
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
          <h3 class="text-white">Nous Contacter</h3>
          <form action="#">
            <div class="input-wrapper">
              <input type="text" class="form-control border m-1" id="" name="newsletter" placeholder="Votre Nom et Prenom ...">
              <input type="email" class="form-control border m-1" id="" name="" placeholder="Votre mail ...">
              <textarea name="message" id="message" placeholder="Votre message ici ..." class="form-control m-1"></textarea>
              <button type="submit" value="send" class="btn btn-primary">Soumettre</button>
              <p class="text-color">Directeur: 66454533434   /email: exemple@gmail.com</p>
              <p class="text-color">Autre Responsable: 4544343434  /email: exemple@gmail.com</p>
              <p class="text-color">Autre Responsable: 4544343434  /email: exemple@gmail.com</p>
              <p class="text-color">Autre Responsable: 4544343434  /email: exemple@gmail.com</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    <!-- footer content -->
    <div class="footer bg-footer section border-bottom ">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-md-0">
            <h4 class="text-white mb-5">Centre Informatique Gamal</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="about.html">A propos de Nous</a></li>
              <li class="mb-3"><a class="text-color" href="teacher.html">Nos professeurs</a></li>
              <li class="mb-3"><a class="text-color" href="contact.html">Contact</a></li>
              <li class="mb-3"><a class="text-color" href="blog.html">Galérie</a></li>
            </ul>
          </div>
          <!-- links -->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">Lien importants</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="{% url 'cours' %}">Cours</a></li>
              <li class="mb-3"><a class="text-color" href="{% url 'notes'%}">Notes</a></li>
              <li class="mb-3"><a class="text-color" href="">professeurs</a></li>
              <li class="mb-3"><a class="text-color" href="{% url 'index'%}">Accueil</a></li>
            </ul>
          </div>
          <!-- support -->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">Guide d'Utilisation</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="">Contact</a></li>
              <li class="mb-3"><a class="text-color" href="https://docs.themefisher.com/">Documentations</a></li>
              {% comment %} <li class="mb-3"><a class="text-color" href="#!">Language</a></li>
              <li class="mb-3"><a class="text-color" href="#!">Release Status</a></li> {% endcomment %}
            </ul>
          </div>
          <!-- support -->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">Autres Liens</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="">Gestion de la Bibliothèque</a></li>
              <li class="mb-3"><a class="text-color" href="">Herbier Nationnal de Guinée</a></li>
              <li class="mb-3"><a class="text-color" href="">Insertion Professionnel de Gamal</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- copyright -->
    <div class="copyright py-4 bg-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 text-sm-left text-center">
            <p class="mb-0">Copyright &copy;
              <script>
                var CurrentYear = new Date().getFullYear()
                document.write(CurrentYear)
              </script> 
              ,Developper par  <a href="{% url 'index' %}#equipe" class="text-muted">le groupe BG5 Promotion</a> 15eme Promotion du Centre Informatique
            </p>
          </div>
          <div class="col-sm-5 text-sm-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item"><a class="d-inline-block p-2" href=""><i class="ti-facebook text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href=""><i class="ti-twitter-alt text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href=""><i class="ti-github text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href=""><i class="ti-instagram text-primary"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>